/* Configurações gerais */


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f4f7fc;
  color: #333;
  padding: 20px;
  font-size: 16px;
}

/* Estilo para o cabeçalho */
h1, h2 {
  color: #2c3e50;
  font-weight: 600;
  margin-bottom: 1rem;
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

/* Layout e Estilo do Formulário */
form {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-bottom: 3rem;
  transition: box-shadow 0.3s ease;
}

form:hover {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

label {
  font-size: 1.1rem;
  color: #2c3e50;
  font-weight: 500;
  margin-top: 10px;
  display: block;
}

input[type="file"],
input[type="text"],
textarea {
  width: 100%;
  padding: 12px 15px;
  margin-top: 8px;
  margin-bottom: 20px;
  border: 2px solid #d1d5db;
  border-radius: 8px;
  background-color: #f9fafb;
  transition: border-color 0.3s ease;
}

input:focus,
textarea:focus {
  border-color: #1abc9c;
  outline: none;
  background-color: #fff;
}

/* Estilo dos Botões */
button {
  background-color: #1abc9c;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px 20px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #16a085;
  transform: translateY(-2px);
}

button:active {
  transform: translateY(0);
}

/* Estilo para Links */
a {
  color: #1abc9c;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s ease;
}

a:hover {
  color: #16a085;
  text-decoration: underline;
}

/* Estilo para a Lista de Avaliações */
ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  background-color: #ffffff;
  margin-bottom: 15px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s ease, transform 0.2s ease;
}

ul li:hover {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  transform: translateY(-3px);
}

ul li a {
  text-decoration: none;
  color: #34495e;
  font-size: 1.2rem;
  font-weight: 600;
}

ul li a:hover {
  color: #2c3e50;
}
